body {
    background-color: #fafafa !important;
    overflow: initial;
}

.wrapper {
    content: "";
    display: flex;
    clear: both;
    width: 800px;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height: 100%;
    padding: 30px;
}

.wrapper-left {
    float: left;
    align-self: center;
    background-image: url('../../../assets/images/auth-slideshow-phone.png');
    background-position: -42px 0;
    background-size: 454px 618px;
    -ms-flex-preferred-size: 454px;
    flex-basis: 454px;
    height: 618px;
}

.wrapper-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
}

.wrapper-left img {
    width: 400px;
}

.slide-container {
    z-index: 1000;
}

.slide-container img {
    position: relative;
    width: 243px;
    margin-top: 97px;
    margin-left: 93px;
    overflow: hidden;
}