.navbar {
    background-color: #fff;
    -webkit-box-shadow: 0 4px 5px -5px #999;
    -moz-box-shadow: 0 4px 5px -5px #999;
    box-shadow: 0 4px 5px -5px #999;
}

.navbar-brand img {
    width: 103px;
    height: 30px;
}

.search-field {
    font-family: Arial, FontAwesome;
    font-size: 0.85rem !important;
    text-align: center !important;
    background-color: #fafafa !important;
    height: 28px !important;
}

.dropdown-menu-center {
    right: -5px !important;
    left: auto !important;
    margin: 1.125rem 0 0 !important;
    text-align: center !important;
    transform: translate(0, 0) !important;
}

.dropdown-menu a:before {
    content: "";
    position: absolute;
    right: 11px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    z-index: 9999;
}

.dropdown-item:active {
    color: #212529 !important;
    background-color: #f8f9fa !important;
}