body {
    background-color: #fafafa !important;
    overflow: initial;
}

.row {
    height: auto !important;
}

.btn {
    background-color: transparent;
    border: 1px solid #dbdbdb !important;
    color: #262626 !important;
    font-size: 0.9rem !important;
    font-weight: 900 !important;
    padding: 0.2rem 0.75 !important;
}

.user-posts {
    border-top: 1px solid #dbdbdb;
}

.posts-nav span  {
    border-top: 1px solid #000;
    font-size: .85rem;
    font-weight: 700;
}

.post-gallery .parent-wrapper {
    width: 33%;
    height: 200px !important;
    position: relative;
}

.child-wrapper {
    display: none;
    position: absolute;
    z-index: 10;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.post-gallery img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	-ms-filter: brightness(100%);
	filter: brightness(100%);
}

.post-gallery .parent-wrapper:hover .child-wrapper {
    display: block;
}

.post-gallery .parent-wrapper:hover img {
    -webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
	-o-filter: brightness(50%);
	-ms-filter: brightness(50%);
	filter: brightness(50%);
}

.container {
    max-width: 975px !important;
}

.profile-img img {
    width: 60%;
}